:root {
  --bg-color-dark: #0b192f;
  --bg-color-header: #024161;
  --link: #fff;
  --link-hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */
body, html{
  height: 100%;
}
body{
  background-color: var(--bg-color-dark);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: var(--link);
  text-decoration: none;
}

.sandwich{
  display: none;
  width: 1.5em;
  height: .2em;
  margin: 6px 0;
}
.header > div:first-child{
  position: absolute;
}
.sandwich:first-child{
  margin-top: 1.5em;
  background-color: #fff;
}
.sandwich:first-child + div{
  margin-bottom: -1px;
  background-color: #568096;
}
.sandwich:last-child{
  height: 2px;
  margin-bottom: 3em;
  background-color: #5D8599;
}

.articles-block{
  float: left;
  width: 74%;
  color: white;
}
.news{
  float: right;
  width: 24%;
  color: black;
  background-color: white;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: .5em;
  color: white;
  background-color: var(--bg-footer-color);
  opacity: .8;
}
.footer div:first-child{
  margin-left: 1em;
  margin-right: auto;
  line-height: 1.6;
}
.footer div:last-child{
  margin-right: 1em;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

@media only screen and (max-width: 480px) {	
  .articles-block{
    display: block;
    width: 100%;
  }
  .news{
    display: block;
    width: 100%;
    margin-left: 0;
    /* color: black;
    background-color: white; */
  }
}

@media only screen and (max-width: 768px) {	
  body{
    margin: 0 .5em;
  }
  .sandwich{
    display: block;
  }
  .header > div:first-child:hover{
    cursor: pointer;
  }
  .header{
    flex-direction: column;
    margin-bottom: 1.2em;
  }
  .logo{
    margin-top: 3em;
    margin-bottom: 2em;
  }
  .nav{
    display: none;
  }

  .awesome-story :last-child{
    max-width: 85%;
  }
  .footer{
    display: block;
    text-align: center;
    padding: 1em;
  }
  .footer div {
    margin: 0;
  }
}

@media only screen and (max-width: 1400px) {	
  .header{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: var(--bg-color-header);
  }
  .awesome-story{
    /* height: 61vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1em;
    color: white;
    background: url(../img/post0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .awesome-story > * {
    max-width: 65%;
    margin-left: 3%;
  }
  .awesome-story :first-child{
    margin-top: 30%;
    margin-bottom: 3%;
    font-size: 3em;
    font-weight: lighter;
  }
  .awesome-story :last-child{
    margin-bottom: 5%;
    line-height: 1.6;
    opacity: 0.8;
  }
  .logo{
    /* position: absolute; */
    font-weight: 200;
    margin-left: 1%;
  }
  .logo span{
    color: #B72A66;
  }
  .logo a:hover span{
    color: var(--link-hover);
  }
  .news{
    margin-left: 2%; 
    /* ????????? */
  }
  .nav{
    margin-right: 5%;
  }
  .nav > ul{
    list-style: none;
  }
  .nav li{
    display: inline-block;
  }
  .nav a{
    display: block;
    padding: 1.5em;
  }
  .nav a:hover{
    background-color: var(--link-hover);
  }
  .clearfix{
    margin-bottom: 1em;
  }
}