:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */
body, html{
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {	
  
}

@media only screen and (max-width: 768px) {	
  .logo a{
    text-align: center;
  }
  .nav{
    display: none;
  }
}

@media only screen and (max-width: 1400px) {	
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color--header);
  }
  .logo{
    font-weight: 200;
    margin-left: 1%;
  }
  .logo span{
    color: #B72A66;
  }
  .logo a:hover span{
    color: var(--link--hover);
  }
  .nav{
    margin-right: 5%;
  }
  .nav > ul{
    list-style: none;
  }
  .nav li{
    display: inline-block;
  }
  .nav a{
    display: block;
    padding: 1.5em;
  }
  .nav a:hover{
    background-color: var(--link--hover);
  }
  a{
    color: var(--link);
    text-decoration: none;
  }
}