.header-wrap .landing-logo p {
  display: flex;
  flex-direction: column;
  margin: -7px 11px;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 2em; }

.header-wrap .landing-logo p span {
  font-weight: normal;
  font-size: 0.4em;
  text-align: center;
  line-height: 0.1; }

.header-wrap .header_heading::before, main .section_text::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: #14A0C7; }

body {
  width: 1663px;
  height: 2022px;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif; }

.header {
  height: 624px;
  border-radius: 0 0 40% 0;
  background-image: url(../img/m-h-day.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.header-wrap {
  padding-left: 10%; }
  .header-wrap .landing-logo {
    display: flex;
    padding-top: 1em; }
    .header-wrap .landing-logo img {
      height: 40px; }
  .header-wrap .header_heading {
    position: relative;
    z-index: 1;
    width: 10em;
    font-size: 4em;
    font-weight: 700;
    margin-top: 0.9em;
    margin-bottom: 0;
    line-height: 1;
    letter-spacing: -1px; }
    .header-wrap .header_heading::before {
      width: 4.1em;
      height: 0.7em;
      top: 1.3em; }
  .header-wrap .header_text {
    margin-top: 1.6em;
    padding-top: .5em;
    font-family: Hind, sans-serif;
    font-weight: normal;
    font-size: .9em;
    line-height: 1.5;
    letter-spacing: .1px;
    white-space: pre-line;
    color: #333333; }
    .header-wrap .header_text + div {
      margin-top: 3.3em; }
      .header-wrap .header_text + div .header_button {
        width: 8em;
        height: 2.5em;
        padding: 2px 5px;
        font-size: 1em;
        border: none;
        border-radius: 0.1em;
        color: white;
        background-color: #699900; }
        .header-wrap .header_text + div .header_button:hover, .header-wrap .header_text + div .header_button:focus {
          background-color: #7bb300; }
      .header-wrap .header_text + div .login {
        margin-left: 7em;
        font-size: 1.1em;
        color: white;
        display: inline-block;
        margin-bottom: 2em;
        font-family: Hind, sans-serif; }
        .header-wrap .header_text + div .login:hover, .header-wrap .header_text + div .login:focus {
          color: #e6e6e6; }

main .section_text {
  position: relative;
  z-index: 1;
  margin-top: .85em;
  margin-bottom: .9em;
  font-size: 2.3em;
  font-weight: 600;
  text-align: center; }
  main .section_text::before {
    left: 22.8em;
    width: 4.5em;
    height: 1em; }
main .section_card_wrap {
  width: 58%;
  margin: 0 auto; }
  main .section_card_wrap .section_card {
    display: flex;
    margin-bottom: 1em;
    line-height: 25px;
    border-radius: .4em;
    background-color: #21232E; }
    main .section_card_wrap .section_card .section_card_img {
      width: 40%;
      padding: 1em;
      border-radius: .4em; }
    main .section_card_wrap .section_card .section_card_right_container {
      width: 60%;
      text-align: center; }
      main .section_card_wrap .section_card .section_card_right_container .section_card_heading {
        font-size: 1.5em;
        font-weight: 600;
        margin-top: 3em;
        margin-bottom: 2em;
        color: #fffff6; }
      main .section_card_wrap .section_card .section_card_right_container .section_card_text {
        margin: 3em 3em;
        font-family: Hind, sans-serif;
        text-align: justify;
        color: #B1BCC6; }
      main .section_card_wrap .section_card .section_card_right_container .section_link {
        color: #A0B4C8;
        display: inline-block;
        margin-bottom: 2em;
        font-family: Hind, sans-serif; }
        main .section_card_wrap .section_card .section_card_right_container .section_link:hover, main .section_card_wrap .section_card .section_card_right_container .section_link:focus {
          color: #809bb5; }

/*# sourceMappingURL=style1.css.map */
