$fontFm: (
    "pro": ("Source Sans Pro", sans-serif),
    "hind": (Hind, sans-serif),
    "fresca": (Fresca, sans-serif));

%logoTextP{
    display: flex;
    flex-direction: column;
    margin: -7px 11px;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 2em;
}
%logoTextS{
    font-weight: normal;
    font-size: 0.4em;
    text-align: center;
    line-height: 0.1;
}
%highlight{
    content: '';
    position: absolute;
    z-index: -1;
    background-color: lightskyblue;
}

@mixin btn {
    width: 8em;
    height: 2.5em;
    padding: 2px 5px;
    font-size: 1em;
    border: none;
    border-radius: 0.1em;
    color: white;
    background-color: #699901;
}
@mixin link($mg-left, $ft-size, $color:white) {
    margin-left: $mg-left; //7em;
    font-size: $ft-size; //1.1em;
    color: $color; //white;
}

body {
    margin: 0;
    width: 1663px;
    height: 2022px;
}

.header {
    height: 624px;
    border-radius: 0 0 40% 0;
    background-image: $bgImg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-wrap {
    padding-left: 10%;
    font-family: map-get($fontFm, "pro");

    .landing-logo{
        display: flex;
        padding-top: 1em;
        
        img{
            height: 40px;
        }

        p{
            @extend %logoTextP;

            span{
                @extend %logoTextS
            }
        }
        
    }

    .header_heading{
        position: relative;
        z-index: 1;
        width: 10em;
        font-size: 4em;
        font-weight: 700;
        margin-top: 0.9em;
        margin-bottom: 0;
        line-height: 1;
        letter-spacing: -1px;

        &::before{
            @extend %highlight;
            
            width: 4.1em;
            height: 0.7em;
            top: 1.3em;
        }
    }

    .header_text{
        margin-top: 1.6em;
        line-height: 1.5;
        letter-spacing: .1px;
        padding-top: .5em;
        font-size: .9em;
        white-space: pre-line;
        font-weight: normal;
        color: lighten(black, 25%);

        & + div {
            margin-top: 3.3em;

            .header_button{
                @include btn;
            }

            .login{
                @include link($firstLinkMgLeft, $firstLinkFtSize);
            }
        }
    }
}