body {
    margin: 0;
}
.header {
    // min-height: 75vh; // for fullscreen?
    min-height: 37vh;
    border-radius: 0 0 40% 50% / 100% 60% 40% 0;
    background-image: url(../img/m-h-day.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header-wrap {
    padding-left: 10%;
    font-family: $sansPro;

    .landing-logo{
        display: flex;
        
        img{
            width: 1.3em;
            height: 1.3em;
            padding-top: 10px; 
        }

        p{
            display: flex;
            flex-direction: column;
            margin-left: -5px;
            margin-top: -5px;
            padding: 10px;
            text-align: left;
            font-weight: 600;
            font-size: 0.7em;
            line-height: 2em;

            span{
                font-weight: normal;
                font-size: 0.4em;
                text-align: center;
                line-height: 0.1;

            }
        }
        
    }

    .header_heading{
        position: relative;
        z-index: 1;
        width: 10em;
        font-size: 2em;
        font-weight: 700;
        margin-top: 0.5em;
        margin-bottom: 0.4em;
        line-height: 1.1;
        letter-spacing: 1px;

        &::before{
            content: '';
            width: 4.4em;
            height: 0.6em;
            position: absolute;
            top: 1.4em;
            z-index: -1;
            background-color: lightskyblue;
        }
    }

    .header_text{
        font-size: xx-small;
        white-space: pre-line;
        font-weight: normal;
        color: lighten(black, 25%);

        & + div {
            margin-top: 1.7em;

            .header_button{
                width: 7em;
                height: 2.5em;
                padding: 2px 5px;
                font-size: xx-small;
                color: white;
                background-color: #699901;
                border-radius: 0.1em;
                border: 0;
            }

            .login{
                margin-left: 7em;
                color: white;
                font-size: x-small;
            }
        }
    }



}