$bgImg: url(../img/m-h-day.jpg);
$sectionRadius: .4em;
$lastButtonFloat: right;

$firstLinkMgLeft: 7em;
$firstLinkFtSize: 1.1em;

$bgColor: white;
$themeTextColor: black;
$highlightColor: #14A0C7;
$btnBgColor: #699900;
$bgCardColor: #21232E;
$cardTextColor: #B1BCC6;
$cardHeadingColor: #fffff6;
$sectionLinkColor: #A0B4C8;
$sectionBanerHeadingColor: #2c2f3c;
$sectionBanerTextColor: #c0c3ce;
$banerStartColor: #669704;
$banerEndColor: #2A5BD6;
$footerBgColor: #21232e;
