$bgImg: url(../img/m-h-night.jpg);
$sectionRadius: .4em;
$lastButtonFloat: right;

$firstLinkMgLeft: 7em;
$firstLinkFtSize: 1.1em;

$bgColor: #21232E;
$themeTextColor: white;
$highlightColor: #FF4E33;
$btnBgColor: #E3AC00;
$bgCardColor: #3B3F50;
$cardTextColor: #C0C7CC;
$cardHeadingColor: #fffff6;
$sectionLinkColor: #CCD1D1;
$sectionBanerHeadingColor: $themeTextColor;
$sectionBanerTextColor: #D0CDAE;
$banerStartColor: #DFA603;
$banerEndColor: #942F50;
$footerBgColor: #3B3F50;
