$bgImg: url(../img/m-h-day.jpg);
$sectionRadius: .4em;
$lastButtonFloat: right;

$firstLinkMgLeft: 7em;
$firstLinkFtSize: 1.1em;

$highlightColor: #14A0C7;
$btnColor: #699900;
$bgCardColor: #21232E;
$cardTextColor: #B1BCC6;
$cardHeadingColor: #fffff6;
$sectionLinkColor: #A0B4C8;
$banerStartColor: #669704;
$banerEndColor: #2A5BD6;
$footerColor: #21232e;
