*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    color: #777 ;
    background-color: #fff;
}

@media screen and (min-width: 900px) {

    .header{
        position: fixed;
        display: flex;
        width: 100%;
        height: 10vh;
        top: 0;
        z-index: 1;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
    }
    .header li {
        display: inline-block;
        margin-right: 2em;
    }
    .header a {
        text-decoration: none;
    }
    .header .logo {
        font-size: 1.4em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }
    .logo span{
        font-weight: 500;
        vertical-align: text-bottom;
    }

    .topnav a {
        font-size: 1.3em;
    }
    .topnav a:hover,
    .topnav a:focus {
        color: #bfba55;
    }

    .hero-image {
        position: relative;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        color: white; 
        align-items: center; 
        justify-content: center;
        background-image: linear-gradient(rgba(6,10,10, 0.7), rgba(6,10,10, 0.7)), 
            url("../img/home-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
      
     .hero-image h1 {
        font-size: 5vw;
        letter-spacing: -1px;
    } 
    .hero-image p {
        margin-top: 1em;
        color: #bfba55;
        letter-spacing: 1px;
    }
    .hero-image button{
        margin-top: 6vh;
        padding: 1em 1em;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        border: none;
        border-radius: 2em;
    }
    .hero-image button:hover,
    .hero-image button:focus{
        color: #bfba55;
        outline: none;
    }

    .section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
        margin: 7em auto;
    }
    .section:not(:last-child) {
        margin-bottom: 70px;
        border-bottom: 1px solid #e4dddd;
    }
    .section img{
        max-width: 100%;
    }
    .section h2 {
        margin: 20px 0;
        font-size: 2vw;
        font-weight: 600;
        color: black;
    }
    .section > p{
        margin-top: 20px;
        line-height: 25px;
    }
    .section button{
        margin-top: 25px;
        margin-bottom: 60px;
        padding: 18px 20px;
        font-size: 0.8em;
        font-weight: 700;
        letter-spacing: 1px;
        color: #777;
        background-color: #fff;
        border: 1px solid #e0d8d8;
        border-radius: 25px 25px;
    }
    .section button:hover,
    .section button:focus{
        color: #bfba55;
        outline: none;
    }
    .blog-info{
        display: flex;
        align-items: center;
    }
    .blog-info > *{
        margin-right: 20px;
    }
    .author{
        display: flex;
        align-items: center;
    }
    .author span{
        margin-left: 5px;
    }
    .author-img {
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
    }

    .footer {
        background-color: black;
        height: 40%;
    }
    .footer h3 {
        font-size: 2em;
        color: #fff;
    }
    .wrapper {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 5em;
        padding-bottom: 5em;
        margin: 0 auto;
    }
    .footer-left {
        width: 50%;
    }
    .footer-left p {
        margin-top: 20px;
    }
    .footer-left:first-child p {
        line-height: 25px;
    }
    .footer-right address p {
        margin-top: 20px;
        font-style: normal;
    }
}